.nav li {
  display: flex;
  align-content: center;
  /* justify-content: space-evenly; */
  }
  
  .nav a {
    color: rgb(15, 12, 12);
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    list-style: none;
    text-align: center;
    justify-content: left;
    font-family: Arial;
  }
  .nav a:hover {
    color: #b01313;
    background-color: rgb(201, 203, 219);
  }
 
  header {
    position: sticky;
    top: 0;
  }


  /* @media only screen and (min-width: 800px) {
    .nav a{
      width: 5%;
      display: block;
      height: 10%;
      margin-top: 100px;
    }
  } */

 